<div id="j-index-page-buffer-top">
</div>

<div class="row">
  <div class="large-6 columns">
    <% @jamsessions.each do |jam| %>
      <p class="j-index-title"><%= link_to jam.title, jamsession_path(jam) %></p>
      <p class="j-index-loc"><%= jam.city %>, <%= jam.state %></p>
      <hr class="j-index-spacer">
    <% end %>
  </div>
  <div class="large-6 columns">
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
var addresses = <%= @coordinates %>;
</script>
