<div class="row">
  <div class="large-12 columns">

    <!-- Top Text Section -->

    <div class="row">
      <div class="row homepagebuffer-large">
        &nbsp;
      </div>
      <div class="large-12 columns hide-for-small homepage-header">
        <h1 class="headertextlarge">LET'S JAM</h1>
        <p class="subheadertextlarge">For Musicians. By Musicians.</p>
      </div>
    </div>

    <!-- End Top Text Section -->


    <!-- Mobile Header -->


    <div class="row">
      <div class="row homepagebuffer-small">
        &nbsp;
      </div>
      <div class="small-12 show-for-small homepage-header"><br>
        <h1 class="headertextsmall">LET'S JAM</h1>
        <p class="subheadertextsmall">For Musicians. By Musicians.</p>
      </div>
    </div>


    <!-- End Mobile Header -->

  </div>
</div><br>

<!-- Search Bar -->

<div class="row">

  <div class="large-12 columns">
    <div class="radius panel">

      <form>
        <div class="row collapse">

          <div class="large-10 small-8 columns">
            <input type="text" />
          </div>

          <div class="large-2 small-3 columns">
            <a href="#" class="postfix button expand" id="homepage-search-button">Search</a>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>

<!-- End Search Bar -->

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© STW Productions</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Github</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
