<div class="row">
  <div class="large-12 columns">

    <!-- Top Text Section -->

    <div class="row">
      <div class="row homepagebuffer-large">
        &nbsp;
      </div>
      <div class="large-12 columns hide-for-small homepage-header">
        <h1 class="headertextlarge">Let's Jam</h1>
        <p class="subheadertextlarge">for musicians, by musicians</p>
        <div class="row index-signin-button-container-large">
          <div><%= image_tag('btn-connect-sc-l.png') %></div>
        </div>
      </div>
    </div>

    <!-- End Top Text Section -->


    <!-- Mobile Header -->


    <div class="row">
      <div class="row homepagebuffer-small">
        &nbsp;
      </div>
      <div class="small-12 show-for-small homepage-header"><br>
        <h1 class="headertextsmall">Let's Jam</h1>
        <p class="subheadertextsmall">For Musicians. By Musicians.</p>
        <div id="index-signin-button-container-large">
          <div><%= image_tag('btn-connect-sc-s.png') %></div>
        </div>
      </div>
    </div>


    <!-- End Mobile Header -->

  </div>
</div><br>

<!-- Search Bar -->

<div class="row">

  <div class="large-12 columns">
    <div class="radius panel">

      <form>
        <div class="row collapse">

          <div class="large-10 small-8 columns">
            <input type="text" />
          </div>

          <div class="large-2 small-3 columns">
            <a href="#" class="postfix button expand" id="homepage-search-button">Search</a>
          </div>

        </div>
      </form>

    </div>
  </div>

</div>

<!-- End Search Bar -->
