/*body {
  background-image: url("pianoman.jpeg");
  background-color: #000;
}*/

body {
  background: url("pianomandark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Trebuchet MS, Helvetica;
}

.homepagebuffer-large {
  height: 75px;
}

.homepagebuffer-small {
  height:25px;
}

.homepage-header {
  text-align: center;
}

.subheadertextlarge {
  color: white;
  font-size: 30px;
  line-height: 20px;
}

.headertextlarge {
  color: white;
  font-size: 7.5em;
  font-family: Trebuchet MS;
}

.headertextsmall {
  color: white;
  font-size: 4em;
  font-family: Trebuchet MS;
}

.subheadertextsmall {
  color: white;
  font-size: 16px;
}

.panel {
  background: transparent;
  border: 0px;
}

#homepage-search-button {
  background-color: #222;
}

.index-signin-button-container-large row {
  height: 50px;
  vertical-align: center;
}
