body {
  background: url("pianomandark.png") no-repeat center center fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Trebuchet MS, Helvetica;
}

.contain-to-grid sticky {
  position:fixed;
  width:100%;
}

.homepagebuffer-large {
  height: 75px;
}


.homepage-header {
  text-align: center;
}

.subheadertextlarge {
  color: white;
  font-size: 30px;
  line-height: 20px;
}

#headertextlarge-container img {
  width:80%;
  align:center;
}

#headertextsmall-container img {
  width:80%;
  align:center;
}

.headertextsmall {
  color: white;
  font-size: 4em;
  font-family: Trebuchet MS;
}

.subheadertextsmall {
  color: white;
  font-size: 16px;
}

.panel {
  background: transparent;
  border: 0px;
}

#homepage-search-button {
  background-color: #222;
}

#homepage-search-button-sign-in {
  background-color: #FD600A;
}

#index-signin-button-container-large img {
  vertical-align: center;
  margin:15px;
  margin-bottom:-30px;
}

#map-container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 15px;
}

#map-canvas {
  height: 450px;
  width: 100%;
}

#map-container #map-canvas img {
  max-width: none;
}

#map-container #map-canvas label {
  width: auto; display:inline;
}

.jam-title {
  margin-top:25px;
  color: #fff;
  font-size:3em;
  line-height:1.2em;
  font-family: Trebuchet MS;
}

.jam-description {
  color: #cecece;
}

.jam-address {
  color: #cecece;
  text-align: center;
}

.jam-time {
  color: #cecece;
  font-size: 1.5em;
}

.jam-instruments {
  color: #cecece;
  font-size:1.25em;
  line-height:1.25em;
}

.jam-organized {
  font-size: 2em;
  color: #cecece;
  text-align: center;
}

.nav-logo {
  width:100px;
}
